# Please see the documentation for all configuration options:
# https://docs.github.com/en/enterprise-cloud@latest/code-security/dependabot/dependabot-version-updates

version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: weekly

  - package-ecosystem: cargo
    directory: '/'
    schedule:
      interval: weekly
    cooldown:
      default-days: 30

  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: weekly
    cooldown:
      default-days: 30
    allow:
      - dependency-type: all
    open-pull-requests-limit: 10
